@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: #30393f;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1150px;
}

h1,
h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  color: #ff690d;
}
h3 {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  font-size: 24px;
  font-weight: bold;
  color: black;
}
p {
  font-size: 18px;
}

button {
  background-color: transparent;
  border: 1px solid #ff6f00;
  padding: 16px 36px;
  border-radius: 8px;
  text-transform: uppercase;
  color: #ff6f00;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.25s ease;
  transform: scale(1);
}

button:hover {
  background-color: rgb(255, 232, 214);
}

button:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

.filled_button {
  background-color: #ff6f00;
  color: white;
}

.filled_button:hover {
  background-color: rgb(255, 130, 33);
}

.image_wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.image_wrapper__absolute {
  position: absolute;
  right: 10px;
  top: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
}

li {
  position: relative;
  margin-bottom: 8px;
  padding-left: 40px;
  margin-bottom: 8px;
}

li::before {
  position: absolute;
  left: 0;
  top: 2px;
  margin-right: 0;
  content: url("/assets/icons/CheckOrangeIcon.svg");
  vertical-align: middle;
}

.second_section {
  position: relative;
  display: flex;
  gap: 32px;
}

.second_section__first_block {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 24px;
  max-width: 66.6%;
}

.second_section__second_block {
  display: flex;
  gap: 24px;
}

.third_section {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.fourth_section {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #d9d9d9, transparent 100%);
  padding: 32px 16px 32px 32px;
  border-radius: 16px;
}

.fourth_section__first_block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fourth_section ul {
  font-family: "Roboto", sans-serif;
  color: #000a12;
  font-size: 16px;
}

.fourth_section li::before {
  content: url("/assets/icons/CheckRedIcon.svg");
}

.fourth_section__first_block {
  max-width: 66.6%;
}

.fifth_section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fifth_section__first_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.fifth_section__line {
  width: 100%;
  height: 1px;
  background-color: #000000;
  opacity: 0.5;
  border: none;
  margin: 20px 0;
}

.sixth_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.sixth_section button {
  display: flex;
  padding: 16px 36px 16px 24px;
  gap: 12px;
}

@media (max-width: 768px) {
  .second_section__first_block {
    max-width: 100%;
    width: 100%;
  }
  .second_section__second_block {
    flex-direction: column;
  }
  .fourth_section {
    padding: 16px 8px 16px 16px;
  }

  .fourth_section ul {
    font-size: 12px;
  }
  .fourth_section li {
    padding-left: 32px;
  }

  .fourth_section__first_block {
    max-width: 100%;
    width: 100%;
  }

  .fifth_section__first_block{
    flex-direction: column;
    align-items: flex-start;
  }

  .full_width{
    width: 100%;
  }

.sixth_section {
    flex-direction: column;
    gap: 24px;
}
  h1,
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  button {
    font-size: 14px;
  }
  ul {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 24px;
  }
  .image_wrapper__absolute {
    display: none;
  }
}
